# Config to tell Railway this is a backend project inside a subfolder
[phases.setup]
nixPkgs = ["nodejs"]

[phases.install]
cmds = ["cd backend && npm install"]

[phases.build]
cmds = ["echo 'No build step required'"]

[start]
cmd = "cd backend && npm start"
